<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
<!--    <classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/seckill"
                        userId="root"
                        password="19971019">
        </jdbcConnection>


        <!-- generate data object -->
        <javaModelGenerator targetPackage="com.seckill.dataObject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- generate mapping files -->
        <sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- generate Dao objects -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.seckill.dao"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!-- generate table and class -->
<!--        <table schema="seckill" tableName="user_info" domainObjectName="UserDo"-->
<!--               enableCountByExample="false" enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false" enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false">-->
<!--        </table>-->
<!--        <table schema="seckill" tableName="user_password" domainObjectName="UserPasswordDo"-->
<!--               enableCountByExample="false" enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--        </table>-->
        <table schema="seckill" tableName="promo" domainObjectName="PromoDo"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>
<!--        <table schema="seckill" tableName="item_stock" domainObjectName="ItemStockDo"-->
<!--               enableCountByExample="false" enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false">-->
<!--        </table>-->

    </context>
</generatorConfiguration>